{% extends "bets/index.html" %}
{% block content %}
    {{ register_message }}
    <form action="" method="post">
    {% csrf_token %}
    <div>
        {{ form.username.errors }}
        <label for="id_username">Username: </label>
        {{ form.username }}
    </div>
    <div>
        {{ form.password1.errors }}
        <label for="id_password1">Password: </label>
        {{ form.password1 }}
    </div>
    <div>
        {{ form.password2.errors }}
        <label for="id_password2">Repeat password: </label>
        {{ form.password2 }}
    </div>
    <div>
        {{ form.email.errors }}
        <label for="id_email">E-Mail: </label>
        {{ form.email }}
    </div>
    <div>
        {{ form.firstName.errors }}
        <label for="id_firstName">First Name: </label>
        {{ form.firstName }}
    </div>
    <div>
        {{ form.lastName.errors }}
        <label for="id_lastName">Last Name: </label>
        {{ form.lastName }}
    </div>
    <div>
        {{ form.gender.errors }}
        <label for="id_gender">Gender: </label>
        {{ form.gender }}
        {{ form.dateOfBirth.errors }}
    </div>
    <!--<div>
        {{ form.dateOfBirth.errors }}
        <label for="id_dateOfBirth">Date Of Birth: </label>
        {{ form.dateOfBirth }}
    </div>-->
    <input type="submit" value="Register" class="button medium"/>
    <input type="hidden" name="name" value="register_submit" id="register_submit"/>
    </form>
{% endblock %}