<h1>{{ bet }}</h1>

<h2 style="color:red">{{ error }}</h2>

<h2>Due Date:</h2>
{{bet.dueDate}}

<h2>Status:</h2>
{{bet.status}}

<h2>Participants</h2>
<ul>
{% for personBet in bet.personBets.all %}
    <li>{{personBet.person.demographics.firstName }} {{personBet.person.demographics.lastName}} has the position "{{personBet.position}}" and has wagered {{personBet.wager}} points.</li>
{% endfor %}
</ul>


<h2>Categories: </h2>
<ul>
{% for category in bet.categories.all %}
    <li>{{category.category}}</li>
{% endfor %}
</ul>

<h1> Place your wager below:</h1>
<form action="" method="post">
{% csrf_token %}
<h2>How much are you willing to risk?</h2>
<input type="text" name="wager" id="wager" value="{{ bet.personBet.wager }}" /><br />
<h2>What's your position?</h2>
<input type="text" name="position" id="position" value="{{ bet.personBet.position }}" /><br />
<input type="submit" value="Deliver Challenge" />
<br />
<a href="/bets/">Back to View All Bets</a>
</form>